/*
@import '@vueform/multiselect/themes/tailwind.css';
 */
@import "multiselect.css";
@import "datepicker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root{
    @apply bg-base-200;
}

.panel {
    @apply p-4 bg-base-100 rounded-2xl shadow-xl;
}

.page-grid {
    @apply grid grid-cols-1 lg:grid-cols-3 gap-6 w-11/12 lg:w-5/6 mb-8;
}

.page-panel {
    @apply w-11/12 lg:w-5/6 p-4 bg-base-100 rounded-2xl shadow-xl mb-8;
}

.page-content {
    @apply flex justify-center mt-8 select-bordered;
}

.apexcharts-xaxis-label {
    @apply fill-base-content;
}
.apexcharts-yaxis-label {
    @apply fill-base-content;
}